Repository airshipit/drydock: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-drydock-lint-pep8, airship-drydock-lint-chart, airship-drydock-security-bandit

Path conditions:
  airship-drydock-lint-pep8: any of: ^.*\.py$
  airship-drydock-lint-chart: any of: ^charts/.*$
  airship-drydock-security-bandit: any of: ^.*\.py$

Documentation gating
  .zuul.yaml
  tools/gate/playbooks/doc-build.yaml
  tools/gate/playbooks/doc-publish.yaml
Due: none

Log on doc publish job
  tools/gate/playbooks/doc-publish.yaml
Due: none

[Fix] Fix post-merge doc publish job
  .zuul.yaml
  tools/gate/playbooks/doc-publish.yaml
Due: none

More logs on doc publish
  tools/gate/playbooks/doc-publish.yaml
Due: none

Fix playbook to provide logs
  tools/gate/playbooks/doc-publish.yaml
Due: none

[trivial] Rename tox jobs for zuul
  Makefile
  tox.ini
Due: none

Update docs for developer overview
  .zuul.yaml
  Makefile
  docs/diagrams/architecture.uml
  docs/diagrams/basic_task_sequence.uml
  docs/requirements-doc.txt
  docs/source/conf.py
  docs/source/development.rst
  docs/source/getting_started.rst
  docs/source/images/architecture.png
  docs/source/images/basic_task_sequence.png
  docs/source/index.rst
  docs/source/policy-enforcement.rst
  drydock_provisioner/config.py
  drydock_provisioner/error.py
  etc/drydock/drydock-config-generator.conf
  etc/drydock/drydock-policy-generator.conf
  etc/drydock/drydock.conf.sample
  etc/drydock/policy.yaml.sample
  requirements-host.txt
  tools/gate/playbooks/doc-publish.yaml
  tools/gate/playbooks/zuul-linter.yaml
  tox.ini
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Fix: use only node's HW profile for nic logical names
  drydock_provisioner/objects/node.py
  tests/yaml_samples/deckhand_fullsite.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

[411387] Schema update to support repo
  Makefile
  drydock_provisioner/ingester/plugins/deckhand.py
  drydock_provisioner/objects/site.py
  drydock_provisioner/schemas/region.yaml
  requirements-direct.txt
  requirements-lock.txt
  tests/unit/test_ingester.py
  tests/yaml_samples/deckhand_fullsite.yaml
  tox.ini
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

[411390] Configure repo in MAAS
  drydock_provisioner/drivers/node/driver.py
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/drivers/node/maasdriver/driver.py
  drydock_provisioner/drivers/node/maasdriver/models/repository.py
  drydock_provisioner/objects/fields.py
  drydock_provisioner/orchestrator/actions/orchestrator.py
  drydock_provisioner/orchestrator/orchestrator.py
  tests/integration/postgres/test_action_config_node_prov.py
  tests/unit/test_ingester.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(zuul) Enable docker image jobs
  .zuul.yaml
  tools/gate/playbooks/docker-image-build.yaml
  tools/image_tags.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

fix tox python3 overrides
  tox.ini
Due: none

[411428] Bootaction pkg_list support
  docs/source/bootaction.rst
  drydock_provisioner/error.py
  drydock_provisioner/objects/bootaction.py
  drydock_provisioner/objects/validation.py
  drydock_provisioner/schemas/bootaction.yaml
  tests/integration/postgres/test_action_config_node_prov.py
  tests/unit/test_ingester_invalidation.py
  tests/yaml_samples/deckhand_bootaction.yaml
  tests/yaml_samples/invalid_bootaction.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

[411430] Validate bootaction pkg_list
  docs/source/index.rst
  docs/source/troubleshooting/index.rst
  docs/source/troubleshooting/validations.rst
  drydock_provisioner/objects/bootaction.py
  drydock_provisioner/orchestrator/validations/bootaction_validity.py
  drydock_provisioner/orchestrator/validations/validator.py
  tests/unit/test_validation_rule_bootactions.py
  tests/yaml_samples/absent_bootaction.yaml
  tests/yaml_samples/deckhand_fullsite_no_nodes.yaml
  tests/yaml_samples/invalid_bootaction_pkg.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

[411429] maasdriver support of packages
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/drivers/node/maasdriver/models/machine.py
  drydock_provisioner/objects/bootaction.py
  drydock_provisioner/objects/fields.py
  drydock_provisioner/orchestrator/orchestrator.py
  drydock_provisioner/statemgmt/design/resolver.py
  requirements-direct.txt
  requirements-lock.txt
  tox.ini
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Order hugepagesz and hugepages kernel parameters
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/objects/node.py
  drydock_provisioner/orchestrator/validations/hugepages_validity.py
  drydock_provisioner/orchestrator/validations/validator.py
  tests/unit/test_param_reference.py
  tests/unit/test_validation_rule_hugepages.py
  tests/yaml_samples/deckhand_fullsite_bad_hugepages.yaml
  tests/yaml_samples/invalid_hugepages.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Fix name of error CollectSubtaskTimeout
  drydock_provisioner/error.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(fix) Make noops considered a success
  drydock_provisioner/orchestrator/actions/orchestrator.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(fix) Fix invalid kwarg
  drydock_provisioner/orchestrator/actions/orchestrator.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Improvements for handling existing nodes
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/orchestrator/actions/orchestrator.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Unifying proxy variables for tox and docker build
  Makefile
  tox.ini
Due: none

Cleanup yaml files
  tests/yaml_samples/deckhand_fullsite.yaml
  tests/yaml_samples/deckhand_fullsite_bad_hugepages.yaml
  tests/yaml_samples/deckhand_fullsite_libvirt.yaml
  tests/yaml_samples/deckhand_fullsite_no_nodes.yaml
  tests/yaml_samples/fullsite.yaml
  tests/yaml_samples/hostprof.yaml
  tests/yaml_samples/invalid_boot_storage_small.yaml
  tests/yaml_samples/invalid_hugepages.yaml
  tests/yaml_samples/invalid_kernel.yaml
  tests/yaml_samples/invalid_rational_network_trunking.yaml
  tests/yaml_samples/invalid_unique_network.yaml
  tests/yaml_samples/invalid_validation.yaml
  tests/yaml_samples/ip_locality_no_gateway.yaml
  tests/yaml_samples/ip_locality_no_networks.yaml
  tests/yaml_samples/no_baremetal_node.yaml
  tests/yaml_samples/no_duplicate_IPs_no_addressing.yaml
  tests/yaml_samples/rack.yaml
  tests/yaml_samples/storage_partitioning_unassigned_partition.yaml
  tests/yaml_samples/storage_sizing.yaml
  tests/yaml_samples/validation.yaml
Due: none

(fix) Guard against DB connection leaks
  drydock_provisioner/config.py
  drydock_provisioner/statemgmt/state.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Make client HTTP connections resilient
  drydock_provisioner/config.py
  drydock_provisioner/statemgmt/design/resolver.py
  etc/drydock/drydock.conf.sample
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Add test pods labels.
  charts/drydock/templates/tests/test-drydock-api.yaml
  charts/drydock/templates/tests/test-drydock-auth.yaml
Due: airship-drydock-lint-chart

Add additional repo options
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/drivers/node/maasdriver/models/repository.py
  drydock_provisioner/objects/site.py
  drydock_provisioner/schemas/region.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(zuul) Consolidate tests
  .zuul.yaml
  tools/gate/playbooks/doc-build.yaml
  tools/gate/playbooks/omni_test.yaml
  tools/gate/playbooks/pep8-linter.yaml
  tools/gate/playbooks/security-bandit.yaml
  tools/gate/playbooks/unit-py35.yaml
  tools/gate/playbooks/zuul-linter.yaml
Due: none

Support links for task status
  alembic/versions/4713e7ebca9_add_task_status_links.py
  alembic/versions/4a5bef3702b_create_build_data_table.py
  alembic/versions/9593a123e7c5_create_base_database_tables.py
  drydock_provisioner/control/util.py
  drydock_provisioner/drydock_client/session.py
  drydock_provisioner/objects/task.py
  drydock_provisioner/statemgmt/db/tables.py
  etc/drydock/drydock.conf.sample
  tests/unit/test_task_link.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Add support of MAAS node-results API
  drydock_provisioner/drivers/node/maasdriver/models/base.py
  drydock_provisioner/drivers/node/maasdriver/models/machine.py
  drydock_provisioner/drivers/node/maasdriver/models/node_results.py
  tests/unit/test_maasdriver_noderesults.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(format): yapf reformat
  alembic/versions/4713e7ebca9_add_task_status_links.py
  drydock_provisioner/config.py
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/drivers/node/maasdriver/models/machine.py
  drydock_provisioner/drivers/node/maasdriver/models/node_results.py
  drydock_provisioner/objects/fields.py
  drydock_provisioner/orchestrator/validations/bootaction_validity.py
  drydock_provisioner/statemgmt/db/tables.py
  drydock_provisioner/statemgmt/design/resolver.py
  drydock_provisioner/statemgmt/state.py
  tests/integration/postgres/test_action_config_node_prov.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Add build data access to Drydock client
  Makefile
  drydock_provisioner/cli/node/actions.py
  drydock_provisioner/cli/node/commands.py
  drydock_provisioner/cli/task/actions.py
  drydock_provisioner/cli/task/commands.py
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/drydock_client/client.py
  drydock_provisioner/objects/site.py
  tests/unit/test_cli_task.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Add build data for MAAS logs
  Makefile
  drydock_provisioner/control/api.py
  drydock_provisioner/control/tasks.py
  drydock_provisioner/control/util.py
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/drivers/node/maasdriver/models/machine.py
  tests/integration/postgres/test_noderesult_links.py
  tests/unit/test_maasdriver_noderesults.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(fix) Fix builddata API issue
  drydock_provisioner/control/tasks.py
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(zuul) Improve image building
  Makefile
  hostdeps.sh
  images/drydock/Dockerfile
  requirements-host-test.txt
  tools/drydock_image_build.sh
Due: none

Added code to support Destroy Node
  drydock_provisioner/config.py
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/drivers/node/maasdriver/models/machine.py
  drydock_provisioner/orchestrator/actions/orchestrator.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Update Drydock sampleconf.rst with correct name
  docs/source/sampleconf.rst
Due: none

Make device alias resolution optional
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/objects/node.py
  drydock_provisioner/orchestrator/actions/orchestrator.py
  drydock_provisioner/orchestrator/orchestrator.py
  tests/unit/test_node_logicalnames.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(fix) fix missing kwarg
  drydock_provisioner/drivers/oob/pyghmi_driver/driver.py
  drydock_provisioner/drydock_client/client.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(fix) API client used wrong parameter type
  drydock_provisioner/drydock_client/client.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit
