Repository airshipit/drydock: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-drydock-lint-pep8, airship-drydock-lint-chart, airship-drydock-security-bandit

airship-drydock-lint-pep8:
  description: 'Lints Python files against the PEP8 standard
  
    '
  run: tools/gate/playbooks/pep8-linter.yaml
  timeout: 300
  nodeset: airship-drydock-single-node

airship-drydock-lint-chart:
  description: 'Lints Helm charts for validity
  
    '
  run: tools/gate/playbooks/helm-linter.yaml
  timeout: 300
  nodeset: airship-drydock-single-node

airship-drydock-security-bandit:
  description: 'Executes the Bandit security scanner against Python files
  
    '
  run: tools/gate/playbooks/security-bandit.yaml
  timeout: 300
  nodeset: airship-drydock-single-node

Fix: pep8 airship-drydock-omni-test fix
  python/drydock_provisioner/control/health.py
  python/drydock_provisioner/control/tasks.py
  python/drydock_provisioner/drivers/node/maasdriver/actions/node.py
  python/drydock_provisioner/drivers/node/maasdriver/api_client.py
  python/drydock_provisioner/drivers/node/maasdriver/models/base.py
  python/drydock_provisioner/drivers/node/maasdriver/models/machine.py
  python/drydock_provisioner/drivers/node/maasdriver/models/node_results.py
  python/drydock_provisioner/objects/builddata.py
  python/drydock_provisioner/objects/node.py
  python/drydock_provisioner/orchestrator/actions/orchestrator.py
  python/drydock_provisioner/orchestrator/orchestrator.py
  python/drydock_provisioner/orchestrator/util.py
  python/drydock_provisioner/orchestrator/validations/boot_storage_rational.py
  python/drydock_provisioner/orchestrator/validations/bootaction_validity.py
  python/drydock_provisioner/orchestrator/validations/network_trunking_rational.py
  python/drydock_provisioner/statemgmt/design/resolver.py
  python/drydock_provisioner/statemgmt/state.py
  python/tests/unit/test_api_tasks_unit.py
  python/tests/unit/test_validation_rule_mtu_rational.py
  python/tests/unit/test_validation_rule_network_bond.py
  python/tests/unit/test_validation_rule_unique_network.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Fix: adding back the possibility to add arbitrary labels
  Makefile
  tools/drydock_image_build.sh
Due: none

delete the duplicate words in hostprof.yaml
  python/tests/yaml_samples/hostprof.yaml
Due: none

omit the twice occured words in fullsite.yaml
  python/tests/yaml_samples/fullsite.yaml
Due: none

remove the repetition words in multidoc.yaml
  python/tests/yaml_samples/multidoc.yaml
Due: none

remove the repetition words in fullsite_networks.yaml
  python/tests/yaml_samples/fullsite_networks.yaml
Due: none

delete the duplicate words in networkLink3.yaml
  python/tests/yaml_samples/networkLink3.yaml
Due: none

omit the twice occured words in orchestrator.py
  python/drydock_provisioner/orchestrator/actions/orchestrator.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(fix) Use endpoint for MAAS URL
  charts/drydock/templates/configmap-etc.yaml
  charts/drydock/templates/secret-tls.yaml
  charts/drydock/values.yaml
  python/drydock_provisioner/drivers/node/maasdriver/api_client.py
  python/drydock_provisioner/ingester/plugins/deckhand.py
  python/drydock_provisioner/orchestrator/orchestrator.py
  python/drydock_provisioner/statemgmt/design/resolver.py
  python/tests/unit/test_api_nodes_unit.py
  python/tests/unit/test_api_validation.py
  requirements-host.txt
  tools/helm_tk.sh
Due: airship-drydock-lint-pep8, airship-drydock-lint-chart, airship-drydock-security-bandit

Add Redfish as OOB driver
  charts/drydock/values.yaml
  etc/drydock/drydock.conf.sample
  python/drydock_provisioner/drivers/node/maasdriver/models/machine.py
  python/drydock_provisioner/drivers/oob/redfish_driver/__init__.py
  python/drydock_provisioner/drivers/oob/redfish_driver/actions/__init__.py
  python/drydock_provisioner/drivers/oob/redfish_driver/actions/oob.py
  python/drydock_provisioner/drivers/oob/redfish_driver/client.py
  python/drydock_provisioner/drivers/oob/redfish_driver/driver.py
  python/requirements-direct.txt
  python/requirements-lock.txt
Due: airship-drydock-lint-pep8, airship-drydock-lint-chart, airship-drydock-security-bandit

Workaround MAAS race condition
  python/drydock_provisioner/drivers/node/maasdriver/models/machine.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Remove the repetition words in readme.md
  python/drydock_provisioner/orchestrator/readme.md
Due: none

Added line no to drydock message format for troubeshooting
  python/drydock_provisioner/drydock.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

CI: Add chart build gate
  .zuul.yaml
  tools/gate/playbooks/build-charts.yaml
Due: none

Support MAAS having dead rack controllers
  python/drydock_provisioner/drivers/node/maasdriver/actions/node.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Fix: flake8 tests failing due to invalid types comparison
  python/drydock_provisioner/ingester/ingester.py
  python/drydock_provisioner/orchestrator/validations/ip_locality_check.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(fix) Support non-present networks
  python/drydock_provisioner/drivers/node/maasdriver/models/fabric.py
  python/drydock_provisioner/drivers/node/maasdriver/models/machine.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Use helm toolkit for DB initialization
  charts/drydock/templates/bin/_db-init.sh.tpl
  charts/drydock/templates/configmap-bin.yaml
  charts/drydock/templates/job-drydock-db-init.yaml
  tools/helm_tk.sh
Due: airship-drydock-lint-chart

images: Allow base image substitution for Drydock
  Makefile
  images/drydock/Dockerfile
  tools/drydock_image_build.sh
Due: none

Disable tgtd service on maas-rack-controller
  python/drydock_provisioner/drivers/node/maasdriver/models/rack_controller.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Updating Docker Gate use of zuul.newrev
  tools/gate/playbooks/docker-image-build.yaml
Due: none

tools: Update Helm to v2.13.1
  tools/helm_install.sh
  tools/helm_tk.sh
Due: none

Drydock: Add pod/container security context
  charts/drydock/templates/deployment.yaml
  charts/drydock/values.yaml
Due: airship-drydock-lint-chart

End user logging for audit traceabilty
  python/drydock_provisioner/control/base.py
  python/drydock_provisioner/control/middleware.py
  python/drydock_provisioner/drydock.py
  python/drydock_provisioner/drydock_client/session.py
  python/tests/conftest.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

CI: Add chart build job for latest Helm toolkit
  .zuul.yaml
  tools/gate/playbooks/build-charts.yaml
Due: none

(zuul) Fix image publish post pipeline
  tools/gate/playbooks/docker-image-build.yaml
Due: none

Add possibility to check response code in auth test
  charts/drydock/templates/tests/test-drydock-auth.yaml
Due: airship-drydock-lint-chart

Add CIDR validation for MAAS
  python/drydock_provisioner/orchestrator/validations/cidr_validity.py
  python/drydock_provisioner/orchestrator/validations/validator.py
  python/tests/unit/test_validation_rule_network_cidr.py
  python/tests/yaml_samples/invalid_network_cidr.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

[opendev] Update .gitreview with new URL and repo
  .gitreview
Due: none

(fix) Remove typo from build-args
  tools/drydock_image_build.sh
Due: none

Move to helm 2.14.0
  tools/helm_install.sh
Due: none

Add Zuul job for mirroring to GitHub
  .zuul.yaml
Due: none

Encrypt git mirroring ssh_key to specific project
  .zuul.yaml
Due: none

Add node selector to test pods
  charts/drydock/templates/tests/test-drydock-api.yaml
  charts/drydock/templates/tests/test-drydock-auth.yaml
  charts/drydock/values.yaml
Due: airship-drydock-lint-chart

Add release uuid annotation to POD spec
  charts/drydock/templates/deployment.yaml
Due: airship-drydock-lint-chart

Fix small inconsistency in API documentation
  docs/source/API.rst
Due: none

Allow Deploy Allocated Node
  python/drydock_provisioner/drivers/node/maasdriver/actions/node.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

[fix] Update hostdeps.sh to do a non-interactive apt install
  hostdeps.sh
Due: none

Path conditions:
  airship-drydock-lint-pep8: any of: ^.*\.py$
  airship-drydock-lint-chart: any of: ^charts/.*$
  airship-drydock-security-bandit: any of: ^.*\.py$
