Repository airshipit/drydock: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-drydock-lint-pep8, airship-drydock-lint-chart, airship-drydock-security-bandit

airship-drydock-lint-pep8:
  description: 'Lints Python files against the PEP8 standard
  
    '
  run: tools/gate/playbooks/pep8-linter.yaml
  timeout: 300
  nodeset: airship-drydock-single-node

airship-drydock-lint-chart:
  description: 'Lints Helm charts for validity
  
    '
  run: tools/gate/playbooks/helm-linter.yaml
  timeout: 300
  nodeset: airship-drydock-single-node

airship-drydock-security-bandit:
  description: 'Executes the Bandit security scanner against Python files
  
    '
  run: tools/gate/playbooks/security-bandit.yaml
  timeout: 300
  nodeset: airship-drydock-single-node

[443514] Set domain for nodes during deployment
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/drivers/node/maasdriver/models/machine.py
  drydock_provisioner/objects/node.py
  tests/unit/test_node_naming.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Database tunability
  .gitignore
  docs/source/_static/drydock.conf.sample
  docs/source/_static/policy.yaml.sample
  drydock_provisioner/config.py
  drydock_provisioner/statemgmt/state.py
  requirements-direct.txt
  requirements-lock.txt
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Node naming validations
  drydock_provisioner/objects/site.py
  drydock_provisioner/orchestrator/validations/hostname_validity.py
  tests/unit/test_validation_rule_hostname_validity.py
  tests/yaml_samples/invalid_validation.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

YAPF formatting
  drydock_provisioner/config.py
  drydock_provisioner/drivers/node/maasdriver/models/machine.py
  drydock_provisioner/drydock_client/session.py
  drydock_provisioner/objects/node.py
  drydock_provisioner/orchestrator/orchestrator.py
  tests/unit/test_cli_task.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Add DNS domains during network config
  drydock_provisioner/control/tasks.py
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
  drydock_provisioner/drivers/node/maasdriver/models/domain.py
  drydock_provisioner/objects/bootaction.py
  tests/unit/test_bootaction_asset_render.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Remove the duplicated word
  tests/integration/postgres/test_api_bootaction.py
  tests/integration/postgres/test_api_bootaction_status.py
  tests/integration/postgres/test_api_builddata.py
  tests/integration/postgres/test_api_tasks.py
  tests/integration/postgres/test_bootaction_context.py
  tests/unit/test_api_nodes_unit.py
  tests/unit/test_api_tasks_unit.py
  tests/unit/test_api_validation.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Add venv tox environment
  tox.ini
Due: none

Update Keystone API ports in Drydock chart
  charts/drydock/values.yaml
Due: airship-drydock-lint-chart

[Fix] Improve idempotence of creating MAAS domains
  drydock_provisioner/drivers/node/maasdriver/actions/node.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Add destroy_node config items to sample
  docs/source/_static/drydock.conf.sample
  etc/drydock/drydock.conf.sample
Due: none

Bootaction cleanup
  docs/source/API.rst
  docs/source/bootaction.rst
  images/drydock/Dockerfile
  python/drydock_provisioner/control/bootaction.py
  python/drydock_provisioner/objects/bootaction.py
  python/tests/postgres/start_postgres.sh
  python/tests/unit/test_bootaction_asset_render.py
  python/tests/unit/test_bootaction_tarbuilder.py
  python/tests/yaml_samples/deckhand_fullsite.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Bootaction client initial implementation
  Makefile
  go/src/baclient/api_client.go
  go/src/baclient/baclient.go
  go/src/baclient/baclient_test.go
  go/src/baclient/config.go
  go/src/baclient/exec.go
  go/src/baclient/types.go
Due: none

Bubble Up All Failures
  python/drydock_provisioner/drivers/node/maasdriver/actions/node.py
  python/drydock_provisioner/objects/task.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Security update: Update pyghmi to avoid pycrypto
  python/requirements-direct.txt
  python/requirements-lock.txt
  requirements-host.txt
  tox.ini
Due: none

(critical-fix) Fix Dockerfile entrypoint.sh
  images/drydock/Dockerfile
  tools/gate/playbooks/omni_test.yaml
Due: none

Uplift Drydock to master Helm-Toolkit
  charts/drydock/templates/deployment.yaml
  charts/drydock/templates/job-drydock-db-init.yaml
  charts/drydock/templates/job-drydock-db-sync.yaml
  charts/drydock/templates/job-ks-endpoints.yaml
  charts/drydock/templates/job-ks-service.yaml
  charts/drydock/templates/job-ks-user.yaml
  charts/drydock/templates/secret-keystone-env.yaml
  charts/drydock/templates/secret-ssh-key.yaml
  charts/drydock/values.yaml
  tools/helm_tk.sh
Due: airship-drydock-lint-chart

Add release uuid to pods and rc objects (drydock)
  charts/drydock/templates/deployment.yaml
  charts/drydock/templates/job-drydock-db-init.yaml
  charts/drydock/templates/job-drydock-db-sync.yaml
  charts/drydock/templates/tests/test-drydock-api.yaml
  charts/drydock/templates/tests/test-drydock-auth.yaml
  tools/helm_tk.sh
Due: airship-drydock-lint-chart

Back-off pyghmi upgrade
  python/requirements-direct.txt
  python/requirements-lock.txt
Due: none

(fix) Add nodeSelector to Drydock Pod
  Makefile
  charts/drydock/templates/configmap-etc.yaml
  charts/drydock/templates/deployment.yaml
  charts/drydock/templates/ingress.yaml
  charts/drydock/values.yaml
Due: airship-drydock-lint-chart

Fix: git commit id labels on images
  Makefile
  images/drydock/Dockerfile
  tools/drydock_image_build.sh
  tools/gate/playbooks/docker-image-build.yaml
Due: none

Revert pyghmi to insecure version
  python/requirements-direct.txt
  python/requirements-lock.txt
Due: none

fix: Drydock exceptions documentation incorrectly rendering
  docs/source/exceptions/api_error.inc
  docs/source/exceptions/bootaction_error.inc
  docs/source/exceptions/build_data_error.inc
  docs/source/exceptions/client_error.inc
  docs/source/exceptions/design_error.inc
  docs/source/exceptions/driver_error.inc
  docs/source/exceptions/orchestrator_error.inc
Due: none

Update node-labels through Kubernetes Provisioner
  docs/source/_static/drydock.conf.sample
  docs/source/_static/policy.yaml.sample
  docs/source/task.rst
  python/drydock_provisioner/config.py
  python/drydock_provisioner/control/tasks.py
  python/drydock_provisioner/drivers/kubernetes/__init__.py
  python/drydock_provisioner/drivers/kubernetes/driver.py
  python/drydock_provisioner/drivers/kubernetes/promenade_driver/README.md
  python/drydock_provisioner/drivers/kubernetes/promenade_driver/__init__.py
  python/drydock_provisioner/drivers/kubernetes/promenade_driver/actions/__init__.py
  python/drydock_provisioner/drivers/kubernetes/promenade_driver/actions/k8s_node.py
  python/drydock_provisioner/drivers/kubernetes/promenade_driver/driver.py
  python/drydock_provisioner/drivers/kubernetes/promenade_driver/promenade_client.py
  python/drydock_provisioner/objects/fields.py
  python/drydock_provisioner/objects/node.py
  python/drydock_provisioner/orchestrator/actions/orchestrator.py
  python/drydock_provisioner/orchestrator/orchestrator.py
  python/drydock_provisioner/orchestrator/readme.md
  python/drydock_provisioner/policy.py
  python/tests/unit/test_k8sdriver_promenade_client.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Roll pyghmi back to 1.0.18
  python/requirements-direct.txt
  python/requirements-lock.txt
Due: none

(fix) Fix two integration tests
  python/tests/integration/postgres/test_action_prepare_nodes.py
  python/tests/integration/postgres/test_action_prepare_site.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Fix: various documentation and URL fixes
  README.md
  charts/drydock/Chart.yaml
  docs/source/development.rst
  docs/source/getting_started.rst
  docs/source/task.rst
  python/drydock_provisioner/statemgmt/design/resolver.py
  python/setup.py
Due: airship-drydock-lint-pep8, airship-drydock-lint-chart, airship-drydock-security-bandit

(fix) Fix missing parameter for node pkg list
  python/drydock_provisioner/control/bootaction.py
  python/drydock_provisioner/orchestrator/orchestrator.py
  python/tests/unit/test_bootaction_asset_render.py
  python/tests/yaml_samples/deckhand_fullsite.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Catchup YAPF formatting
  docs/source/_static/drydock.conf.sample
  etc/drydock/drydock.conf.sample
  etc/drydock/policy.yaml.sample
  python/drydock_provisioner/cli/part/commands.py
  python/drydock_provisioner/cli/task/commands.py
  python/drydock_provisioner/drivers/kubernetes/promenade_driver/actions/k8s_node.py
  python/drydock_provisioner/drivers/kubernetes/promenade_driver/driver.py
  python/drydock_provisioner/drivers/kubernetes/promenade_driver/promenade_client.py
  python/drydock_provisioner/drivers/node/maasdriver/actions/node.py
  python/drydock_provisioner/drivers/node/maasdriver/models/machine.py
  python/drydock_provisioner/objects/bootaction.py
  python/drydock_provisioner/objects/fields.py
  python/drydock_provisioner/objects/node.py
  python/drydock_provisioner/objects/task.py
  python/drydock_provisioner/orchestrator/actions/orchestrator.py
  python/drydock_provisioner/orchestrator/orchestrator.py
  python/drydock_provisioner/orchestrator/validations/network_trunking_rational.py
  python/drydock_provisioner/policy.py
  python/drydock_provisioner/statemgmt/state.py
  python/tests/integration/postgres/test_api_bootaction.py
  python/tests/integration/postgres/test_postgres_builddata.py
  python/tests/unit/test_k8sdriver_promenade_client.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(fix) Register error for missing disk
  python/drydock_provisioner/drivers/node/maasdriver/actions/node.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Fix invalid comments and class names in unit tests
  python/tests/unit/test_validation_rule_storage_partitioning.py
  python/tests/unit/test_validation_rule_storage_sizing.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Validate mountpoints in a HostProfile
  python/drydock_provisioner/orchestrator/validations/storage_mountpoints.py
  python/drydock_provisioner/orchestrator/validations/validator.py
  python/tests/unit/test_validation_rule_storage_mountpoint.py
  python/tests/yaml_samples/invalid_mountpoint.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Fix typo in doc
  docs/source/troubleshooting/index.rst
Due: none

Fix typo in Site Topology doc
  docs/source/topology.rst
Due: none

Revert "Validate mountpoints in a HostProfile"
  python/drydock_provisioner/orchestrator/validations/storage_mountpoints.py
  python/drydock_provisioner/orchestrator/validations/validator.py
  python/tests/unit/test_validation_rule_storage_mountpoint.py
  python/tests/yaml_samples/invalid_mountpoint.yaml
  python/tests/yaml_samples/invalid_validation.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

(fix) Support node filter by rack name
  python/drydock_provisioner/objects/__init__.py
  python/drydock_provisioner/orchestrator/orchestrator.py
  python/tests/unit/test_orch_node_filter.py
  python/tests/yaml_samples/deckhand_fullsite.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Validate mountpoint in a HostProfile
  python/drydock_provisioner/orchestrator/validations/storage_mountpoints.py
  python/drydock_provisioner/orchestrator/validations/validator.py
  python/tests/unit/test_validation_rule_storage_mountpoint.py
  python/tests/yaml_samples/invalid_mountpoint.yaml
  python/tests/yaml_samples/partitions_without_mountpoints.yaml
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Support multiple rack controllers
  docs/source/images/architecture.png
  python/drydock_provisioner/drivers/node/maasdriver/actions/node.py
  python/drydock_provisioner/drivers/node/maasdriver/api_client.py
  python/drydock_provisioner/drivers/node/maasdriver/errors.py
  python/drydock_provisioner/drivers/node/maasdriver/models/base.py
  python/drydock_provisioner/drivers/node/maasdriver/models/interface.py
  python/drydock_provisioner/drivers/node/maasdriver/models/machine.py
  python/drydock_provisioner/drivers/node/maasdriver/models/rack_controller.py
  python/drydock_provisioner/drivers/node/maasdriver/models/vlan.py
  python/drydock_provisioner/objects/node.py
  python/tests/unit/test_maasdriver_vlan.py
Due: airship-drydock-lint-pep8, airship-drydock-security-bandit

Trivial typo fix in fullsite.xml comment
  python/tests/yaml_samples/fullsite.yaml
Due: none

[Bug fix] Remove "clean" from "chart" target
  Makefile
Due: none

Path conditions:
  airship-drydock-lint-pep8: any of: ^.*\.py$
  airship-drydock-lint-chart: any of: ^charts/.*$
  airship-drydock-security-bandit: any of: ^.*\.py$
